<!DOCTYPE html>
<html lang="en">


 <head>
        <meta charset="UTF-8">


        <meta name="keywords"  content="HTML,CSS,JAVASCRIPT,BOOSTRAP,W3CSS,
        SASS,JQUERY,ANGULAR JS, REACT JS, PHP, MYSQL, NODE.JS, ASP.NET">


        <meta name="description"   content="THIS IS TEMPLATE FASHION BLOG">


        <meta name="author"   content="PHUONG.TRIEU">



        <meta name="viewport"  content="width=device-width, initial-scale=1.0">




        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 

 
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
          
        





        <link rel="shortcut icon" href="image/html_logo.png" type="image/x-icon">


        <title>PHUONG WEBPAGE</title>



        <link rel="stylesheet"  type="text/css" href="test1.css">

        

        <style>
         [id="block1"]{
                display:grid;
                grid-template-columns:auto auto;
         }

         [id="overlay1"]{
                display:none;
                background-color:rgba(0, 0, 0, 0.534);
                position:fixed;top:0;left:0;right:0;bottom:0;
                width:100%;height:100%;
                z-index:2;
         }

         [id="user_info_modal"]{
                display:none;
                width:800px;
                padding:50px;
                position:fixed;top:100px;left:300px;
                border:2px solid green;
                outline:2px solid blue;
                outline-offset:10px;
                background-color:white;
                z-index:4;

         }

         [id="user_account_table"]{
                width:100%;
         }

         [id="user_account_table"] , tr, td{
               border:2px solid purple;
               font-size:20px;
               text-align:center;
         }
         
        </style>
 </head>




 <body id="body_content">
        <header>
             
            
        </header>



        <main>
            <div id="block1" 
            ng-app="app1" 
            ng-controller="app1_controller"
             ng-init="code=['fdg5t4yh7u','i78ktji6uu46u','rr31r1d3e3e','rfvbv56y45vxgf564j']"
            >

                <div id="block1_1"  style="border:2px solid purple;width:400px;padding:20px;
                text-align:center;background-color:black;
                ">
                     <div test1 style="color:chartreuse;border:2px solid cyan;letter-spacing:5px;font-size:18px;"></div>
                     <br>
  
                     <div id="code_block">
                            <b style="color:rgb(157, 157, 209);">App's code: {{code[2]}}</b>
                     </div>
                     <br>
  
  
                     <div id="passcode_block">
                            <b style="text-decoration:underline;color:red;">Your passcode: {{passcode}}</b>
                     </div>
  
                     <br>
  
  
  
                    <label for="name_input"><b style="color:white;">Name:</b></label>
                   <input id="name_input" type="text" name="name1" placeholder="Enter your name..." 
                   ng-model="name1" style="width:100%">
  
                   
  
  
  
  
  
                   <label for="age_input"><b style="color:white;">Age:</b></label>
                   <input id="age_input" type="number" name="age1" placeholder="Enter your age..."
                    ng-model="age1" style="width:100%">


                    <label for="email_input"><b style="color:white;">Email:</b></label>
                   <input id="email_input" type="email" name="email1" placeholder="Enter your email..." 
                   ng-model="email1" style="width:100%">
  


                   <label for="pass_input"><b style="color:white;">Password:</b></label>
                   <input id="pass_input" type="password" name="pass1" placeholder="Enter your password..." 
                   ng-model="pass1" style="width:100%">
  

                   <label for="dob_input"><b style="color:white;">Date of Birth:</b></label>
                   <input id="dob_input" type="date" name="dob1" placeholder="Enter your Date of Birth..." 
                   ng-model="dob1" style="width:100%">
  
              
                   
  
  
                   <label for="feedback_input"><b style="color:white;">Feedback:</b></label>
                   <textarea id="feedback_input" name="feedback1"
                   ng-model="feedback1"
                    style="overflow:scroll;width:100%;height:60px;"></textarea>

                    <br><br>


                    <button class="w3-button w3-ripple w3-text-white w3-green w3-hover-red" type="button"
                    title="save information button" name="save_info_butt" onclick="save_info()"
                    style="width:100%;">SAVE INFORMATION</button>

                    <br><br>
  
  
  
                </div>


                <div id="block1_2" style="border:2px solid rgb(79, 248, 45);width:400px;padding:20px;
                text-align:center;font-size:20px;
                ">
                       <b>Your name: 
                            <div id="result_block" ng-bind="name1" style="color:orange;"></div>
                       </b>
                       <br>

                       <b>Your age: 
                            <div id="result_block2" style="color:darkorchid;">{{ age1 + " years old."}}</div>
                       </b>

                       <br>



                       <b>Your email: 
                            <div id="result_block2" style="color:rgb(50, 73, 204);">{{ email1}}</div>
                       </b>

                       <br>



                       <b>Your password: 
                            <div id="result_block2" style="color:rgb(50, 204, 101);">{{ pass1}}</div>
                       </b>

                       <br>



                       <b>Your Date of Birth: 
                            <div id="result_block2" style="color:rgb(204, 124, 50);">{{ dob1}}</div>
                       </b>

                       <br>

                       <b>Your feedback:
                              <div id="result_block3" style="color:darkseagreen;">{{ feedback1}}</div>
                       </b>

                       <br>

                       <button class="btn btn-danger text-white w3-hover-aqua" type="button" title="open account infor button" 
                       style="width:100%;font-size:20px;" onclick="user_info_modal()">Check your account's information</button>

                      
                </div>


                   



            </div>

             <div id="overlay1" onclick="close_user_info_modal()"></div>

            <div id="user_info_modal" class="w3-animate-zoom">

                  <button class="w3-button w3-ripple w3-text-red w3-hover-blue"
                  type="button" title="close_modal_button" 
                   onclick="close_user_info_modal()"
                   style="position:absolute;top:0;right:0;font-size:30px;border:none;background-color:rgba(255, 255, 255, 0);">&times;</button>


                   <div class="w3-center" style="font-size:35px;color:darkseagreen;
                   background-color:black;border:2px solid orange;padding:10px;">

                          <b><i class="fa fa-user-circle-o"></i> User Account</b>
                   </div>

                   <br>

                   <table id="user_account_table">
                          <tr>
                                 <td>
                                        Name: <br> <b id="user_name1"></b>
                                 </td>

                                 <td>
                                       Age: <br> <b id="user_age1"></b>
                                 </td>


                                 <td>
                                       Email: <br> <b id="user_email1"></b>
                                 </td>
                          </tr>

                          <tr>
                                 <td>
                                       Password: <br> <b id="user_pass1"></b>
                                 </td>


                                 <td>
                                        Date of birth: <br> <b id="user_dob1"></b>
                                 </td>


                                 <td>
                                        Feedback: <br> <b id="user_feedback1"></b>
                                 </td>
                          </tr>
                   </table>
            </div>

            <script>
                   var app = angular.module("app1",[]);
                   app.controller("app1_controller",function($scope){
                          $scope.passcode = '268asafd54646cvbc6757657'});

                   app.directive("test1",function(){
                          return{
                                 template: `<b>Welcome!!!<b>
                                    <br>
                                     <b>Hi, This is App1 application of Phuong</b> <br><br>`
                          };
                   });


                   function save_info(){
                          if(typeof(Storage)!=="undefined"){
                                 localStorage.setItem("user_name",document.getElementById("name_input").value);
                                 localStorage.setItem("user_age",document.getElementById("age_input").value);
                                 localStorage.setItem("user_email",document.getElementById("email_input").value);
                                 localStorage.setItem("user_password",document.getElementById("pass_input").value);
                                 localStorage.setItem("user_dob",document.getElementById("dob_input").value);
                                 localStorage.setItem("user_feedback",document.getElementById("feedback_input").value);
                          }else{
                                 alert("Sorry. Your browser does not support Web Storage!!!");
                          }
                   }

                  function user_info_modal(){
                            document.getElementById("overlay1").style.display="block";
                            document.getElementById("user_info_modal").style.display="block";

                            document.getElementById("user_name1").innerHTML = localStorage.getItem("user_name");
                            document.getElementById("user_age1").innerHTML = localStorage.getItem("user_age");
                            document.getElementById("user_email1").innerHTML = localStorage.getItem("user_email");
                            document.getElementById("user_pass1").innerHTML = localStorage.getItem("user_password");
                            document.getElementById("user_dob1").innerHTML = localStorage.getItem("user_dob");
                            document.getElementById("user_feedback1").innerHTML = localStorage.getItem("user_feedback");

                  }

                  function close_user_info_modal(){
                     document.getElementById("overlay1").style.display="none";
                            document.getElementById("user_info_modal").style.display="none";
                  }

            </script>
        </main>

        

 </body>





 <footer>

    
      

 

</footer>


</html>