body {
  font-family: "Times New Roman", Georgia, Serif;
}

[id="navbar_top"] {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(77, 70, 70, 0.233);
          box-shadow: 2px 2px 2px 2px rgba(77, 70, 70, 0.233);
}

[id="navbar_top"] button {
  background-color: white;
  color: black;
  font-size: 23px;
  border: none;
  letter-spacing: 3px;
  padding: 10px 20px;
}

[id="navbar_top"] button:hover {
  background-color: rgba(199, 190, 190, 0.562);
}

[id="catering_name_butt"] {
  margin: 10px;
}

[id="navbar_right_butt_block"] {
  float: right;
  margin: 10px;
}

[id="navbar_right_butt_block"] button a {
  color: black;
  text-decoration: none;
}

[id="catering_name"] {
  color: gray;
  font-size: 45px;
  letter-spacing: 7px;
  padding: 20px;
}

[id="content_block1"] {
  margin: 100px 300px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

[id="content_block1"] [id="content_block1_1"] img {
  width: 700px;
  height: 700px;
}

[id="content_block1"] [id="content_block1_2"] {
  width: 700px;
}

[id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro"] {
  font-size: 40px;
  letter-spacing: 10px;
  margin-left: 100px;
}

[id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro2"] {
  font-size: 25px;
  letter-spacing: 7px;
  text-align: center;
  color: gray;
}

[id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content1"] {
  font-size: 25px;
}

[id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content2"] {
  font-size: 25px;
  color: #978e8e;
}

[id="content_block2"] {
  margin: 100px 300px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

[id="content_block2"] [id="menu1_block"], [id="content_block2"] [id="menu2_block"],
[id="content_block2"] [id="menu3_block"], [id="content_block2"] [id="menu4_block"] {
  margin: 80px 0;
}

[id="content_block2"] [id="menu_intro"] {
  font-size: 60px;
  margin-left: 200px;
  letter-spacing: 6px;
}

[id="content_block2"] [id="meal"] {
  letter-spacing: 4px;
  margin-bottom: 20px;
}

[id="content_block2"] [id="ingredient"] {
  font-size: 23px;
  color: gray;
}

[id="contact_block"] {
  margin-left: 300px;
  width: 1600px;
}

[id="contact_block"] [id="contact_title"] {
  font-size: 40px;
  letter-spacing: 8px;
}

[id="contact_block"] [id="contact_intro1"], [id="contact_block"] [id="contact_intro2"] {
  font-size: 20px;
}

[id="contact_block"] [id="contact_address"] {
  font-size: 25px;
  color: #4c8d8f;
}

[id="input_name"], [id="input_number_people"],
[id="input_appoinment_date"], [id="input_message"] {
  height: 80px;
  font-size: 22px;
  padding: 0 20px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.295);
}

[id="send_ms_butt"] {
  background-color: white;
  color: black;
  background-color: rgba(221, 213, 213, 0.644);
  font-size: 20px;
  border: none;
  padding: 20px;
}

[id="send_ms_butt"]:hover {
  background-color: rgba(199, 190, 190, 0.562);
}

@media (max-width: 800px) {
  [id="navbar_top"] button {
    font-size: 15px;
  }
  article img {
    height: 700px;
  }
  [id="content_block1"] {
    margin: 100px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  [id="content_block1"] [id="content_block1_1"] img {
    width: 300px;
    height: 800px;
  }
  [id="content_block1"] [id="content_block1_2"] {
    margin-left: 0;
    width: 300px;
    height: 500px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro"] {
    font-size: 18px;
    margin-left: -10px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro2"] {
    font-size: 16px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content1"], [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content2"] {
    font-size: 18px;
  }
  [id="content_block2"] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 100px 50px 100px;
  }
  [id="contact_block"] {
    margin-left: 20px;
    width: 600px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  [id="content_block1"] {
    margin: 100px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  [id="content_block1"] [id="content_block1_1"] img {
    width: 500px;
    height: 800px;
  }
  [id="content_block1"] [id="content_block1_2"] {
    margin-left: 0;
    width: 500px;
    height: 500px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro"] {
    font-size: 25px;
    margin-left: 100px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro2"] {
    font-size: 20px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content1"], [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content2"] {
    font-size: 22px;
  }
  [id="content_block2"] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 100px 50px 100px;
  }
  [id="contact_block"] {
    margin-left: 40px;
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
  [id="content_block1"] {
    margin: 100px 200px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  [id="content_block1"] [id="content_block1_1"] img {
    width: 500px;
    height: 1000px;
  }
  [id="content_block1"] [id="content_block1_2"] {
    margin-left: 0;
    width: 600px;
    height: 800px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro"] {
    font-size: 35px;
    margin-left: 100px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_intro2"] {
    font-size: 30px;
  }
  [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content1"], [id="content_block1"] [id="content_block1_2"] [id="content_block1_2_main_content2"] {
    font-size: 28px;
  }
  [id="content_block2"] {
    margin: 100px 200px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  [id="contact_block"] {
    margin-left: 200px;
    width: 1250px;
  }
}
/*# sourceMappingURL=test1.css.map */