@media  screen and (max-width:1200px){
    body main{
        margin:0 0;
    }

    #navtop1{
        left:0;
        right:0;
    }
}
@media  screen and (max-width:1000px){
    body main{
        margin:0 0;
    }

    #navtop1{
        left:0;
        right:0;
    }

    [id="footer_block"]{
        display:grid;
        grid-template-columns:auto;
    
    }
}



@media  screen and (max-width:800px){
    body main{
        margin:0 0;
    }

    #navtop1{
        left:0;
        right:0;
    }

    [id="menu_block"]{
        display:grid;
        grid-template-columns:auto;
    }
    [id="menu_block2"]{
        display:grid;
        grid-template-columns:auto;
    }

    [id="footer_block"]{
        @extend   [id="menu_block2"];
    
    }
}